<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mally.ch02.waithater">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaitHater">
        <activity android:name=".ui.notifications.SetAlarmActivity"></activity>
        <activity android:name=".ui.notifications.MainActivity" />
        <activity android:name=".ui.notifications.BusChoiceActivity" />
        <activity android:name=".ui.notifications.BusStopChoiceActivity" />
        <activity android:name=".ui.BusInfo.RouteInfoActivity" />
        <activity android:name=".ui.BusStopInfo.BusStopActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>